.section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.row{
    width: 1000px;
}
.row.left {
    display: flex;
    align-items: center;
    justify-content: left;
}

.row.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row.right {
    display: flex;
    align-items: center;
    justify-content: right;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.cover {
    font-family: "cover";
    font-size: 96px;
    letter-spacing: -5%;
    line-height: 90%;
}

.title {
    font-family: "title";
    font-size: 48px;
    letter-spacing: -5%;
}

.header-1 {
    font-family: "header-1";
    font-size: 36px;
    letter-spacing: -5%;
}

.header-2 {
    font-family: "header-2";
    font-size: 28px;
    letter-spacing: -5%;
}

.header-3 {
    font-family: "header-3";
    font-size: 24px;
    letter-spacing: -5%;
}

.header-4 {
    font-family: "header-4";
    font-size: 18px;
    letter-spacing: -5%;
}

.text {
    font-family: "text";
    font-size: 16px;
    letter-spacing: -5%;
}