.button {
    position: relative;
    width: 240px;
    height: 80px;
    border-radius: 80px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.button-border-1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;

    background: radial-gradient(at top, #ffffff, var(--signature), var(--signature), var(--signature));
    transition: 0.4s ease-out;
}

.button-border-2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    background: radial-gradient(at bottom, var(--white), var(--signature), var(--signature), var(--signature));
    transition: 0.4s ease-out;
}

.button-fill {
    position: absolute;
    top: 6%;
    left: 2%;
    right: 2%;
    bottom: 6%;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 80px;
    background-color: var(--signature);

    transition: 0.4s ease-out;
}


.button-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 2;
    color: white;
    transition: 0.4s ease-out;
}



.button-border-1.active {
    opacity: 0;
    transition: 0.4s ease-out;
}

.button-border-2.active {
    opacity: 0;
    transition: 0.4s ease-out;
}

.button-text-active {
    color: rgba(0, 0, 0, 0.5);
    transition: 0.4s ease-out;
}