.button {
    position: relative;
    width: 240px;
    height: 80px;
    border-radius: 80px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.button-border {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.4s ease-out;

}

.button-fill {
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 80px;
    transition: 0.4s ease-out;
    background-color: var(--signature);

}

.button-text {
    z-index: 1;
    color: white;
    transition: 0.4s ease-out;
}



#button-border-variant-active,
#button-border-variant-inactive {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: 0.4s ease-out;
}

#button-border-variant-active {
    background: radial-gradient(at bottom, #ffffff, var(--signature), var(--signature), var(--signature));

}

#button-border-variant-inactive {
    background: radial-gradient(at top, #ffa88b, var(--signature), var(--signature), var(--signature));
}

#button-border-variant-active.active,
#button-border-variant-inactive.active {
    opacity: 1;
}