.info-box {
    width: 50vw;
    height: 20vw;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    box-shadow: inset 0px 4px 4px rgba(255, 255, 255, 0.2), inset 0px -4px 4px rgba(0, 0, 0, 0.2);
}

.info-text {
    width: 22.5vw;
}

#button-infobox {
    margin-top: 10px;
}

.info-text {
}

.info-image {
    width: 20vw;
}

.info-image img {
    width: 30vw;
    height: 30vw;
}