@media only screen and (max-width: 768px) {
    .home {
        margin-top: 15vh;
    }
    .home-banner {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        margin: 0;
        padding: 0;
    }
    .home-banner-content {
        position: relative;
        width: calc(100vw - 40px);
        height: 20vh;
        margin-bottom: 10px;
        background: radial-gradient(var(--violet), var(--violet), var(--white));
        border-radius: 20px;
    }
    .home-banner-background {
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100vw - 40px);
        height: 30vh;
        border-radius: 20px;
    }
    .home-banner-text {
        position: absolute;
        top: 20px;
        left: 20px;
        text-align: left;
        color: white;
    }
    .home-banner-title {
        font-family: "Inter Tight SemiBold";
        font-size: 36px;
    }
    .home-banner-subtext {
        font-family: "Inter Tight Regular";
        font-size: 18px;
        width: 50vw;
    }
    .home-banner-button {
        position: absolute;
        bottom: 20px;
        right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 30px;
        padding-right: 30px;
        background-color: var(--black);
        border: 0px solid var(--black);
        border-radius: 10px;
        font-family: "Inter Tight SemiBold";
        font-size: 18px;
        color: var(--white);
        cursor: pointer;
    }
    .home-banner-button:hover {
        background-color: var(--white);
        color: var(--black);
        transition-duration: 0.2s;
    }
    .home-banner-button:not(:hover) {
        transition-duration: 0.2s;
    }
    .home-banner-button:active {
        color: var(--violet);
    }
    .home-topics {
        display: block;
        width: 100vw;
    }
    .home-topic {
        position: relative;
        width: calc(100vw - 40px);
        height: 18vh;
        margin-bottom: 10px;
        margin-left: 20px;
        background-color: var(--violet);
        border-radius: 20px;
        color: var(--white);
    }
    .home-topic-background {
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100vw - 40px);
        height: 30vh;
        border-radius: 20px;
    }
    .home-topic-read {
        background: radial-gradient(#5aecf7, #5aecf7, var(--white));
    }
    .home-topic-write {
        background: radial-gradient(#ff63dd, #ff63dd, var(--white));
    }
    .home-topic-shop {
        background: radial-gradient(#8cff5e, #8cff5e, var(--white));
    }
    .home-topic-title {
        position: absolute;
        top: 20px;
        left: 20px;
        font-family: "Inter Tight SemiBold";
        font-size: 36px;
    }
}