@media only screen and (max-width: 768px) {
  .my-collection {
    margin-top: 30vh;
  }
  .my-collection-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
  }
  .my-collection-title {
    width: calc(90vw - 20px);
    font-family: "Inter Tight SemiBold";
    font-size: 24px;
    color: var(--white);
    border-bottom: 5px solid var(--white-faded);
  }
  .my-collection-filter-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin: 0;
    margin-top: 10px;
    padding: 0;
  }
  .my-collection-filter {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 60vw;
  }
  .my-collection-items {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin: 0;
    margin-bottom: 10vh;
    padding: 0;
  }
  .my-collection-items-grid {
    display: grid;
    grid-template-columns: auto;
    align-items: flex-start;
    justify-content: left;
    width: calc(90vw - 20px);
  }
  .my-collection-item {
    position: relative;
    width: calc(90vw - 20px);
    min-height: calc(50vh);
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: var(--white-faded);
    border-radius: 10px;
  }
  .my-collection-item-cover {
    margin-left: 10px;
    margin-top: 10px;
  }
  .my-collection-item-cover img {
    width: calc(90vw - 40px);
    height: calc(90vw - 40px);
    border-radius: 5px;
  }
  .my-collection-item-details {
    margin-left: 10px;
    margin-bottom: 10px;
    text-align: left;
  }
  .my-collection-item-name {
    font-family: "Inter Tight SemiBold";
    font-size: 18px;
    color: var(--white);
  }
  .my-collection-item-creator {
    font-family: "Inter Tight Regular";
    font-size: 14px;
    color: var(--white);
  }
  .my-collection-item-buy-button button {
    width: calc(90vw - 40px);
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--violet);
    border: 0px solid black;
    border-radius: 10px;
    font-family: "Inter Tight SemiBold";
    font-size: 18px;
    color: var(--white);
  }
  .my-collection-item-read-button button {
    width: calc(90vw - 40px);
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--white);
    border: 0px solid black;
    border-radius: 10px;
    font-family: "Inter Tight SemiBold";
    font-size: 18px;
    color: var(--black);
  }
  .my-collection-item-read-button button:hover {
    background-color: var(--black);
    color: var(--white);
    transition-duration: 0.2s;
  }
  .my-collection-item-read-button button:not(:hover) {
    transition-duration: 0.2s;
  }
}
