.create {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.create-board {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    border-radius: 20px;
    background-color: var(--white-faded);
}

.create-board-info {
    position: relative;
    top: 20px;
    text-align: center;
    font-family: "Inter Tight Regular";
    color: var(--white-faded);
}

.create-board-info a {
    color: var(--sign);
}

.create-editor textarea {
    width: 800px;
    height: 60vh;
    margin: 0;
    padding: 20px;
    margin-right: 5px;
    background-color: var(--white-faded);
    border: 0;
    border-radius: 10px;
    outline: none;
    font-family: "Inter Tight Regular";
    font-size: 16px;
    resize: none;
    color: var(--white);
}

.create-editor textarea::placeholder {
    opacity: 1;
}

.create-preview {
    position: relative;
    top: -2px;
    width: 800px;
    height: 60vh;
    margin: 0;
    padding: 20px;
    margin-left: 5px;
    overflow-x: scroll;
    background-color: var(--white-faded);
    border: 0;
    border-radius: 10px;
    outline: none;
    font-family: "Inter Tight Regular";
    font-size: 16px;
    resize: none;
    color: var(--white);
}

.create-preview h1,
.create-preview h2,
.create-preview h3,
.create-preview h4 {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
}

.create-preview p,
.create-preview ul,
.create-preview code {
    margin-top: 5px;
    margin-bottom: 5px;
}

.create-preview a {
    color: var(--sign);
}

.create-preview img {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 800px;
    box-sizing: border-box;
}

.create-preview hr {
    display: none;
}

.create-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.create-panel {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 10px;
    padding: 20px;
    border: none;
    border-radius: 20px;
    background: var(--white-faded);
}

.create-panel-left,
.create-panel-right {
    max-width: 400px;
    margin: 10px;
}

.create-panel-left {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
}

.create-title input {
    width: 380px;
    height: inherit;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    background-color: transparent;
    border: 0;
    outline: none;
    font-family: "Inter Tight SemiBold";
    font-size: 24px;
    color: var(--white);
}

.create-title input::placeholder {
    opacity: 0.5;
}

.create-description textarea {
    width: 400px;
    height: 120px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: 0;
    outline: none;
    font-family: "Inter Tight Regular";
    font-size: 16px;
    resize: none;
    color: var(--white);
}

.create-description textarea::placeholder {
    opacity: 0.5;
}

.create-cover-input-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 400px;
    height: 400px;
    border: 2px dashed var(--sign);
    border-radius: 10px;
    color: var(--black);
    background-color: var(--white-faded);
    cursor: pointer;
    text-align: center;
    font-family: "Inter Tight Regular";
}

.create-cover-input-button:hover {
    border: 2px dashed var(--black);
    transition-duration: 0.2s;
}

.create-cover-input-button:not(:hover) {
    transition-duration: 0.2s;
}

#file-input-text,
#file-input-cover {
    display: none;
}

.create-cover-input-button img {
    width: 400px;
    border-radius: 10px;
}

.create-author {
    color: var(--sign);
    font-family: "Inter Tight SemiBold";
}

.create-buttons button {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    width: 400px;
    height: 50px;
    border: 0;
    border-radius: 10px;
    background-color: var(--sign);
    color: var(--black);
    cursor: pointer;
    font-family: "Inter Tight Regular";
}

.create-buttons button:hover {
    background-color: var(--black);
    color: var(--white);
    transition: 0.2s;
}

.create-buttons button:not(:hover) {
    transition: 0.2s;
}

.create-metadata {
    width: 360px;
    margin: 0;
    margin-bottom: 10px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    background-color: var(--sign);
}

.metadata {
    margin: 5px;
    padding: 5px;
}

.metadata-title {
    margin: 0;
    padding: 0;
    color: var(--black);
    opacity: 0.5;
    font-family: "Inter Tight Regular";
}

.metadata-data input {
    width: 400px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: 0;
    outline: none;
    font-family: "Inter Tight Regular";
    font-size: 16px;
    resize: none;
}

.metadata-data input::placeholder {
    opacity: 0.5;
}

.metadata-data {
    margin-top: 10px;
}

.metadata-select-mobile {
    display: none;
}

.metadata-select {
    margin-top: 10px;
}

.create-controller {
    margin: 10px;
    padding: 20px;
    border: none;
    border-radius: 20px;
    background: var(--white-faded);
}

.create-controller-checklist {
    width: 800px;
    margin: 0;
    padding: 20px;
    border: none;
    border-radius: 10px;
    color: var(--white);
}

.create-controller-checklist-title {
    font-family: "Inter Tight SemiBold";
    font-size: 36px;
    margin: 0;
    padding: 0;
}

.create-controller-checklist-checkpoint {
    font-family: "Inter Tight Regular";
    margin-top: 10px;
    margin-bottom: 10px;
}

.create-controller-button button {
    margin: 0;
    padding: 0;
    width: 840px;
    height: 100px;
    border: 0;
    border-radius: 10px;
    background-color: var(--violet);
    color: var(--white);
    cursor: pointer;
    font-family: "Inter Tight SemiBold";
    font-size: 24px;
}

.create-controller-button button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.create-controller-button button:not(:disabled):hover {
    background-color: var(--black);
    color: var(--white);
    transition: 0.2s;
}

.create-controller-button button:not(:hover) {
    transition: 0.2s;
}

.checked {
    margin: 0;
    margin-right: 5px;
    color: rgb(0, 197, 128);
}

.unchecked {
    margin: 0;
    margin-right: 5px;
    color: rgb(217, 0, 91);
}